fastapi>=0.100.0
uvicorn
sqlalchemy
chromadb
python-docx
pdfplumber
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
PyQt6>=6.5.0
requests
aiohttp
langchain>=0.1.0
langchain-openai
langgraph>=0.0.10
openai
fastembed
msvc-runtime
markdown
pyyaml
